{% extends "dual/layout.html" %}
{% load static %}



{% block title %}About Dual History{% endblock %}

{% block body %}

<div class="container-fluid mx-auto px-5 my-2 my-sm-3 about_div" id="profile_favs">
	<div class="d-flex justify-content-center m-3">
		<img src="{% static 'dual/logo.png' %}" width='50%'>
	</div>
      
  

    <p>Step into the world of history with "Dual History", a simple yet powerful web application that takes you on a fascinating timeline adventure. This innovative app allows you to explore the historical narratives of selected countries year-by-year, uncovering the pivotal events that have shaped their destinies.</p>

    <p>Discover the Past: Immerse yourself in a curated timeline that spans through the 19th century (for now), offering a captivating glimpse into significant moments from different periods of the chosen countries' history. Each event comes with a concise summary, providing you with a snapshot of its historical significance.</p>

    <p>Wikipedia Integration: Dive deeper into history with direct links to reputable sources like Wikipedia. With a single tap, you can access comprehensive information and multiple perspectives on the events that intrigue you.</p>
    
    <p>Keyword Filters: Tailor your historical exploration to your interests using keyword filters. Whether it's battles, inventions, revolutions, or cultural milestones, "Dual History 2.0" allows you to personalize your journey.</p>
    
    <p>Favorite Events: Mark events of special interest and create your own collection of favorites for further exploration. Delve into the stories that resonate with you the most and build a unique historical archive.</p>

    <p>Infinite Potential: "Dual History 2.0" is just the beginning. As we explore the timelines of more countries and add additional events, the app will eventually become a vast repository of historical knowledge, empowering its users to delve deeper into our shared human past.</p>

    <p>Additionally, "Dual History 2.0" offers a unique educational opportunity for schools and universities. Educators can leverage the app's functionality as a valuable learning tool, where students can be assigned tasks to research and compile significant events of a given country, state, province, or city within a specific time period. Whether it's analyzing historical events year by year, month by month, or even day by day, students will be challenged to sift through vast amounts of information and extract what is most relevant and impactful.</p>

    <p>By organizing their findings in an Excel spreadsheet, students can then share their research with their peers and teachers. The app provides a seamless way for educators to showcase these student projects at school events, such as science fairs or history exhibitions. This collaborative and immersive approach to learning will not only foster a deeper understanding of history but also cultivate essential research and critical thinking skills among students.</p>

    <p>As "Dual History" continues to expand its timelines and enrich its repository of historical knowledge, it opens up endless possibilities for educational institutions to incorporate innovative and engaging history lessons. By combining modern technology with the study of the past, the app paves the way for an interactive and enriching educational experience, inspiring a new generation of history enthusiasts and researchers.</p>


    

    

    
    

    



</div>


{% endblock %}